h2 {
    color: rgb(31, 7, 7);
    padding-bottom: -3px;
    text-align: center;
    font-family: Georgia;
  }


  body {
    background-image: url("./g_pic/images h5.jpg");
    background-size: 1000px;
    background-repeat: repeat-x;
  }

  #home_head{
    display: inline-block;
    margin: 0px;
  }

  .cs2 {
    float: right;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s all;
    padding-top: 2px;
  }

  .cs3 {
    padding-left: 5px;
    transition: 0.1s;
    color: rgb(163, 163, 247);
    text-decoration: none;

  }

  #nav_1 {
    background-color: rgb(235, 231, 231);
    padding: 5px;
    border: 10px;
  }

  .cs3:hover {
    transform: scale(2);
    z-index: 2;
    color: rgb(2, 2, 2);
    padding: 10px;
    text-decoration: none;
  } 